<table>
<tr><th>Abstract</th><th>Refined</th><th>Initial refinement</th><th>Step refinement</th><th>Time (ms)</th></tr><tr>
<td><a href="https://sourceforge.net/p/asmeta/code/HEAD/tree/code/experimental/smtRepresentation/refinementProof/refinement/SIS.asm">SIS.asm</a></td>
<td><a href="https://sourceforge.net/p/asmeta/code/HEAD/tree/code/experimental/smtRepresentation/refinementProof/refinement/SIS.asm">SISrefWithDerived.asm</a></td><td bgcolor="green">true</td><td bgcolor="green">true</td>
<td>591</td>
</tr>
<tr>
<td><a href="https://sourceforge.net/p/asmeta/code/HEAD/tree/code/experimental/smtRepresentation/refinementProof/refinement/sluiceGateGround.asm">sluiceGateGround.asm</a></td>
<td><a href="https://sourceforge.net/p/asmeta/code/HEAD/tree/code/experimental/smtRepresentation/refinementProof/refinement/sluiceGateGround.asm">sluiceGateMotorCtl.asm</a></td><td bgcolor="green">true</td><td bgcolor="green">true</td>
<td>38</td>
</tr>
<tr>
<td><a href="https://sourceforge.net/p/asmeta/code/HEAD/tree/code/experimental/smtRepresentation/refinementProof/refinement/sluiceGateGround.asm">sluiceGateGround.asm</a></td>
<td><a href="https://sourceforge.net/p/asmeta/code/HEAD/tree/code/experimental/smtRepresentation/refinementProof/refinement/sluiceGateGround.asm">sluiceGateMotorCtlWithInv.asm</a></td><td bgcolor="green">true</td><td bgcolor="green">true</td>
<td>43</td>
</tr>
<tr>
<td><a href="https://sourceforge.net/p/asmeta/code/HEAD/tree/code/experimental/smtRepresentation/refinementProof/refinement/oneWayTrafficLight.asm">oneWayTrafficLight.asm</a></td>
<td><a href="https://sourceforge.net/p/asmeta/code/HEAD/tree/code/experimental/smtRepresentation/refinementProof/refinement/oneWayTrafficLight.asm">oneWayTrafficLight_refinedForRefinement.asm</a></td><td bgcolor="green">true</td><td bgcolor="red">false</td>
<td>94</td>
</tr>
</table>